blinker>=1.8.2
certifi>=2023.11.17
charset-normalizer>=3.3.2
cinemagoer>=2023.5.1
click>=8.1.7
colorama>=0.4.6
decorator>=4.4.2
Flask>=3.0.3
Flask-JSON>=0.4.0
Flask-Login>=0.6.3
greenlet>=3.0.1
idna>=3.7
imageio>=2.33.1
imageio-ffmpeg>=0.4.9
itsdangerous>=2.2.0
Jinja2>=3.1.4
lxml>=4.9.3
MarkupSafe>=2.1.5
minimalmodbus>=2.1.1
moviepy>=1.0.3
numpy>=1.26.2
Pillow>=10.3.0
proglog>=0.1.10
pyserial>=3.5
requests>=2.32.0
setuptools>=69.0.2
speedtest>=0.0.1
SQLAlchemy>=2.0.23
tinytag>=1.10.1
tqdm>=4.66.3
typing_extensions>=4.8.0
urllib3>=2.1.0
Werkzeug>=3.0.3
