<html>
<head>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery.canvasjs.min.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/all/gauge.min.js"></script> 
<style>
.settingscol{
background-color:rgb(100,120,180);
}

</style>
</head>
<body onload="load_countries();draw_gauge();">
  <div id="graphdiv"></div>
<script src="/static/js/hello.js?v=1.14"></script>
</body>
</html>
