<html>
<head>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery.canvasjs.min.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<style>
.settingscol{
background-color:rgb(100,120,180);
}

</style>
</head>
<body onload="load_countries();draw_gauge();">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     	{% if name=="anonymous" %}
	    <div class="navbar-brand">Try to login</div>
        {%else%}
	    <font color="blue" class="mr-auto link">{{name}}</font>
        <a class="btn btn-primary" href="/logout">Logout</a>
	    {%endif%}
   </nav>
  <div id="graphdiv"></div>
  
     <div class="row">
	<div class="col-2"></div>
	<div id="country_list"></div>
	<div class="col-6 settingscol">
	<div id="graph"></div>
    </div>	
	<div class="col-3"></div>
	</div>

<script src="/static/js/hello.js?v=1.14"></script>
</body>
</html>
