<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/jquery.canvasjs.min.js"></script>

<!--<link rel="stylesheet" href="/static/css/bootstrap.css">
<script src="/static/js/bootstrap.js"></script>-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<style>
.settingscol{
background-color:rgb(100,120,180);
}

</style>
<title>Covid data</title>
</head>
<body onload="load_main_menu();">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     	{% if name=="anonymous" %}
	    <div class="navbar-brand">Try to login</div>
        {%else%}
	    <font color="blue" class="mr-auto link">{{name}}</font>
        <a class="btn btn-primary" href="/logout">Logout</a>
	    {%endif%}
   	</nav> 
     <div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<div id="main_menu"></div>
	</div>
	<div class="col-md-8 settingscol">
		<div id="graph"  style="width: 100%;"></div>
		</br>
		<div id="dataregions"></div>
	</div>
    </div>	

<script src="/static/js/hello.js?v=1.14"></script>
</body>
</html>
